@model SGTE_V1._6.Models.Tbl_Login

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tbl_Login</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel_Acesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel_Acesso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Funcionario.Funcao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Funcionario.Funcao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
