@model SGTE_V1._8.Models.Tbl_Viagem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tbl_Viagem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Motorista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motorista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obs_Viagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obs_Viagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Aluno.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Aluno.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Escola.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Escola.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Motorista.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Motorista.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Passageiro_Viagem1.Passageiros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Passageiro_Viagem1.Passageiros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Veiculo.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Veiculo.Placa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
